.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='宋体']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='宋体']::before {
    content: '宋体';
    font-family: '宋体' !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='黑体']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='黑体']::before {
    content: '黑体';
    font-family: '黑体';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='微软雅黑']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='微软雅黑']::before {
    content: '微软雅黑';
    font-family: '微软雅黑';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='楷体']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='楷体']::before {
    content: '楷体';
    font-family: '楷体' !important;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='仿宋_GB2312']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='仿宋_GB2312']::before {
    content: '仿宋_GB2312';
    font-family: '仿宋_GB2312';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='仿宋']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='仿宋']::before {
    content: '仿宋';
    font-family: '仿宋';
}


.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='幼圆']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='幼圆']::before {
    content: '幼圆';
    font-family: '幼圆';
}

.ql-font-宋体 {
    font-family: '宋体';
}

.ql-font-黑体 {
    font-family: '黑体';
}

.ql-font-微软雅黑 {
    font-family: '微软雅黑';
}

.ql-font-楷体 {
    font-family: '楷体';
}

.ql-font-仿宋_GB2312 {
    font-family: '仿宋_GB2312';
}

.ql-font-幼圆 {
    font-family: '幼圆';
}

.ql-font-仿宋 {
    font-family: '仿宋';
}
